JSIGHT 0.3

#TODO: uncomment this, when we understand how OpenAPI may forbid not specified custom headers.

TYPE @date
  "2022-01-01" // {type: "date"}

TYPE @datetime
  "2022-01-01T00:00:00Z" // {type: "datetime"}

TYPE @additionalHeaders
{
  "Null"       : null,    // {optional: true}
  "Enum"       : "one",   // {optional: true, enum: ["one", "1", 2, true]}
  "Ascii-20-2f": "! \"#$%&'()*+,-./",      // {optional: true, const: true}
  "Ascii-30-3f": "0123456789:;<=>?",       // {optional: true, const: true}
  "Ascii-40-4f": "@ABCDEFGHIJKLMNO",       // {optional: true, const: true}
  "Ascii-50-5f": "PQRSTUVWXYZ[\\]^_",      // {optional: true, const: true}
  "Ascii-60-6f": "`abcdefghijklmno",       // {optional: true, const: true}
  "Ascii-70-7e": "pqrstuvwxyz{|}~",        // {optional: true, const: true}
  "Ascii-Tab"  : "tab-\t-tab-\t-tab",      // {optional: true, const: true}
  "Uri"        : "https://cats.com/api",   // {optional: true, type: "uri"}
  "Email"      : "cat@email.com",          // {optional: true, type: "email"}
  "Any"        : true,                     // {optional: true, type: "any"}
  "J-Date"       : "2022-01-01",             // {optional: true, type: "date"}
  "Datetime"   : "2022-01-01T00:00:00Z",   // {optional: true, type: "datetime"}
  "Usertype-Date"   : @date,               // {optional: true}
  "Date-Or-Datetime": @date | @datetime,   // {optional: true}
  "Uuid-Or-Email"   : "cat@mail.com", // {optional: true, type: "mixed", or: ["uuid", "email"]}
  "Uuid": "00112233-4455-6677-8899-aabbccddeeff", // {optional: true, type: "uuid"}
  "Date-Or-Email-Or-Datetime": "a@a.com" // {optional: true, or: ["@date", "email", "@datetime"]}  
}

TYPE @headers
{
  "Simple"     : "value", // {optional: true}
  "Two-Words"  : "value", // {optional: true}
  "Regex"      : "ABC12", // {optional: true, regex: "[A-C]+\\d+"}
  "lower-case" : "value", // {optional: true, const: true}
  "UPPER-CASE" : "value", // {optional: true, const: true}
  "Required"   : "value", // Required
  "Const"      : "HELLO", // {optional: true, const: true}
  "Min-Length" : "value", // {optional: true, minLength: 3}
  "Integer"    : 1234567, // {optional: true}
  "Boolean"    : true,    // {optional: true}
  "Float"      : 1.11239, // {optional: true}
  "Null"       : null,    // {optional: true}
  "Enum"       : "one",   // {optional: true, enum: ["one", "1", 2, true]}
  "Ascii-20-2f": "! \"#$%&'()*+,-./",      // {optional: true, const: true}
  "Ascii-30-3f": "0123456789:;<=>?",       // {optional: true, const: true}
  "Ascii-40-4f": "@ABCDEFGHIJKLMNO",       // {optional: true, const: true}
  "Ascii-50-5f": "PQRSTUVWXYZ[\\]^_",      // {optional: true, const: true}
  "Ascii-60-6f": "`abcdefghijklmno",       // {optional: true, const: true}
  "Ascii-70-7e": "pqrstuvwxyz{|}~",        // {optional: true, const: true}
  "Ascii-Tab"  : "tab-\t-tab-\t-tab",      // {optional: true, const: true}
  "Uri"        : "https://cats.com/api",   // {optional: true, type: "uri"}
  "Email"      : "cat@email.com",          // {optional: true, type: "email"}
  "Any"        : true,                     // {optional: true, type: "any"}
  "J-Date"       : "2022-01-01",             // {optional: true, type: "date"}
  "Datetime"   : "2022-01-01T00:00:00Z",   // {optional: true, type: "datetime"}
  "Usertype-Date"   : @date,               // {optional: true}
  "Date-Or-Datetime": @date | @datetime,   // {optional: true}
  "Uuid-Or-Email"   : "cat@mail.com", // {optional: true, type: "mixed", or: ["uuid", "email"]}
  "Uuid": "00112233-4455-6677-8899-aabbccddeeff", // {optional: true, type: "uuid"}
  "Date-Or-Email-Or-Datetime": "a@a.com" // {optional: true, or: ["@date", "email", "@datetime"]}
}

TYPE @headersAllOf
{ // {allOf: "@headersAllOfPart2"}
  "Ascii-Tab"  : "tab-\t-tab-\t-tab",      // {optional: true, const: true}
  "Uri"        : "https://cats.com/api",   // {optional: true, type: "uri"}
  "Email"      : "cat@email.com",          // {optional: true, type: "email"}
  "Any"        : true,                     // {optional: true, type: "any"}
  "J-Date"       : "2022-01-01",             // {optional: true, type: "date"}
  "Datetime"   : "2022-01-01T00:00:00Z",   // {optional: true, type: "datetime"}
  "Usertype-Date"   : @date,               // {optional: true}
  "Date-Or-Datetime": @date | @datetime,   // {optional: true}
  "Uuid-Or-Email"   : "cat@mail.com", // {optional: true, type: "mixed", or: ["uuid", "email"]}
  "Uuid": "00112233-4455-6677-8899-aabbccddeeff", // {optional: true, type: "uuid"}
  "Date-Or-Email-Or-Datetime": "a@a.com" // {optional: true, or: ["@date", "email", "@datetime"]}
}

TYPE @headersAllOfPart2
{
  "Simple"     : "value", // {optional: true}
  "Two-Words"  : "value", // {optional: true}
  "Regex"      : "ABC12", // {optional: true, regex: "[A-C]+\\d+"}
  "lower-case" : "value", // {optional: true, const: true}
  "UPPER-CASE" : "value", // {optional: true, const: true}
  "Required"   : "value", // Required
  "Const"      : "HELLO", // {optional: true, const: true}
  "Min-Length" : "value", // {optional: true, minLength: 3}
  "Integer"    : 1234567, // {optional: true}
  "Boolean"    : true,    // {optional: true}
  "Float"      : 1.11239, // {optional: true}
  "Null"       : null,    // {optional: true}
  "Enum"       : "one",   // {optional: true, enum: ["one", "1", 2, true]}
  "Ascii-20-2f": "! \"#$%&'()*+,-./",      // {optional: true, const: true}
  "Ascii-30-3f": "0123456789:;<=>?",       // {optional: true, const: true}
  "Ascii-40-4f": "@ABCDEFGHIJKLMNO",       // {optional: true, const: true}
  "Ascii-50-5f": "PQRSTUVWXYZ[\\]^_",      // {optional: true, const: true}
  "Ascii-60-6f": "`abcdefghijklmno",       // {optional: true, const: true}
  "Ascii-70-7e": "pqrstuvwxyz{|}~"         // {optional: true, const: true}
}

TYPE @headersProxy
  @headers

#------------------------------- /request/additionalProperties -------------------------

###
TODO: uncomment this, when we understand how OpenAPI may forbid not specified custom headers. 
Now it is not clear.

POST /request/additionalProperties/simple
  Request
    Headers
    { // {additionalProperties: false}
      "Header1": "value1",                // {const: true}
      "Accept-Encoding": "gzip",          // {optional: true}
      "Host": "httpbin.org",              // {optional: true}
      "Transfer-Encoding": "chunked",     // {optional: true}
      "User-Agent": "Go-http-client/1.1", // {optional: true}
      "Content-Length": "2",              // {optional: true}
      "Content-Type": "",                 // {optional: true}
      "X-Amzn-Trace-Id": "Root=1-..."     // {optional: true}
    }
    Body any
  200 any

POST /request/additionalProperties/allOf
  Request
    Headers
    { // {additionalProperties: false, allOf: "@additionalPropertiesAllOf"}
      "Header1": "value1", // {const: true}
      "Accept-Encoding": "gzip",          // {optional: true}
      "Host": "httpbin.org",              // {optional: true}
      "Transfer-Encoding": "chunked",     // {optional: true}
      "User-Agent": "Go-http-client/1.1", // {optional: true}
      "Content-Length": "2",              // {optional: true}
      "Content-Type": "",                 // {optional: true}
      "X-Amzn-Trace-Id": "Root=1-..."     // {optional: true}
    }
    Body any
  200 any

TYPE @additionalPropertiesAllOf
{
  "Header2": "value2" // {const: true}
}

POST /request/additionalProperties/reverse
  Request
    Headers
    { // {allOf: "@additionalPropertiesReverse"}
    }
    Body any
  200 any

TYPE @additionalPropertiesReverse
{ // {additionalProperties: false}
  "Header1": "value1",  // {const: true}
  "Header2": "value2",  // {const: true}
  "Accept-Encoding": "gzip",          // {optional: true}
  "Host": "httpbin.org",              // {optional: true}
  "Transfer-Encoding": "chunked",     // {optional: true}
  "User-Agent": "Go-http-client/1.1", // {optional: true}
  "Content-Length": "2",              // {optional: true}
  "Content-Type": "",                 // {optional: true}
  "X-Amzn-Trace-Id": "Root=1-...",    // {optional: true}
  "Cache-Control": "no-cache, private",   // {optional: true}
  "Date": "Thu, 19 Jan 2023 08:30:32 GMT" // {optional: true}
}
###

#------------------------------- /request/object-mixed -------------------------
### TODO: uncomment when bug fixed
PUT /request/object-mixed/simple
  Request
    Headers
      @headersMixed1 | @headersMixed2
    Body any
  200 any

TYPE @headersMixed1
{
  "Header-1": "value1" // {const: true}
}

TYPE @headersMixed2
{
  "Header-2": "value2" // {const: true}
}
###

#------------------------------- /response/additionalProperties -------------------------

###
TODO: uncomment this, when we understand how OpenAPI may forbid not specified custom headers. 
Now it is not clear.

POST /response/additionalProperties/simple
  200
    Headers
    { // {additionalProperties: false}
      "Header1": "value1", // {const: true}
      "Cache-Control": "no-cache, private",   // {optional: true}
      "Date": "Thu, 19 Jan 2023 08:30:32 GMT" // {optional: true}
    }
    Body any

POST /response/additionalProperties/allOf
  200
    Headers
    { // {additionalProperties: false, allOf: "@additionalPropertiesAllOf"}
      "Header1": "value1", // {const: true}
      "Cache-Control": "no-cache, private",   // {optional: true}
      "Date": "Thu, 19 Jan 2023 08:30:32 GMT" // {optional: true}
    }
    Body any

POST /response/additionalProperties/reverse
  200
    Headers
    { // {allOf: "@additionalPropertiesReverse"}
    }
    Body any
###

#------------------------------- /response/object-mixed -------------------------
### TODO: uncomment when bug fixed
PUT /response/object-mixed/simple
  200
    Headers
      @headersMixed1 | @headersMixed2
    Body any
###
