JSIGHT 0.3

#------------------------------- /request/simple -------------------------
POST /request/simple
  Request
    Headers
    {
      "Simple"     : "value", // {optional: true}
      "Two-Words"  : "value", // {optional: true}
      "Regex"      : "ABC12", // {optional: true, regex: "[A-C]+\\d+"}
      "lower-case" : "value", // {optional: true, const: true}
      "UPPER-CASE" : "value", // {optional: true, const: true}
      "Required"   : "value", // Required
      "Const"      : "HELLO", // {optional: true, const: true}
      "Min-Length" : "value", // {optional: true, minLength: 3}
      "Integer"    : 1234567, // {optional: true}
      "Boolean"    : true,    // {optional: true}
      "Float"      : 1.11239, // {optional: true}
      "Null"       : null,    // {optional: true}
      "Enum"       : "one",   // {optional: true, enum: ["one", "1", 2, true]}
      "Ascii-20-2f": "! \"#$%&'()*+,-./",      // {optional: true, const: true}
      "Ascii-30-3f": "0123456789:;<=>?",       // {optional: true, const: true}
      "Ascii-40-4f": "@ABCDEFGHIJKLMNO",       // {optional: true, const: true}
      "Ascii-50-5f": "PQRSTUVWXYZ[\\]^_",      // {optional: true, const: true}
      "Ascii-60-6f": "`abcdefghijklmno",       // {optional: true, const: true}
      "Ascii-70-7e": "pqrstuvwxyz{|}~",        // {optional: true, const: true}
      "Ascii-Tab"  : "tab-\t-tab-\t-tab",      // {optional: true, const: true}
      "Uri"        : "https://cats.com/api",   // {optional: true, type: "uri"}
      "Email"      : "cat@email.com",          // {optional: true, type: "email"}
      "Any"        : true,                     // {optional: true, type: "any"}
      "J-Date"       : "2022-01-01",             // {optional: true, type: "date"}
      "Datetime"   : "2022-01-01T00:00:00Z",   // {optional: true, type: "datetime"}
      "Usertype-Date"   : @date,               // {optional: true}
      "Date-Or-Datetime": @date | @datetime,   // {optional: true}
      "Uuid-Or-Email"   : "cat@mail.com", // {optional: true, type: "mixed", or: ["uuid", "email"]}
      "Uuid": "00112233-4455-6677-8899-aabbccddeeff", // {optional: true, type: "uuid"}
      "Date-Or-Email-Or-Datetime": "a@a.com" // {optional: true, or: ["@date", "email", "@datetime"]}
    }
    Body any
  200 any

TYPE @date
  "2022-01-01" // {type: "date"}

TYPE @datetime
  "2022-01-01T00:00:00Z" // {type: "datetime"}

