JSIGHT 0.3

INCLUDE types.jstl 

#---------- /request/root-scalar ----------------------
POST /request/root-scalar/no-rules
  Request
    Body @request_root_scalar_no_rules 
  200
    "OK"

TYPE @request_root_scalar_no_rules 
  "root-string"

POST /request/root-scalar/with-rules
  Request
    Body @request_root_scalar_with_rules
  200
    "OK"

TYPE @request_root_scalar_with_rules
  "AAA123" // {minLength: 4, maxLength: 15, regex: "^[A-Z]+\\d+$", nullable: true}

#---------- /request/root-array ----------------------
PUT /request/root-array/no-rules
  Request
    Body @request_root_array_no_rules
  200
    "OK"

TYPE @request_root_array_no_rules
[
  "string"
]

PUT /request/root-array/with-rules
  Request
    Body @request_root_array_with_rules
  200
    "OK"

TYPE @request_root_array_with_rules
[ // {minItems: 1, maxItems: 5, nullable: true}
  "string"
]

#---------- /request/root-object ----------------------
PATCH /request/root-object/no-rules
  Request
    Body @request_root_object_no_rules
  200
    "OK"

TYPE @request_root_object_no_rules
{
  "string": "some-string"
}

PATCH /request/root-object/with-rules
  Request
    Body @request_root_object_with_rules
  200
    "OK"

TYPE @request_root_object_with_rules
{ // {additionalProperties: "@array", allOf: "@object", nullable: true}
  "\u005C \uD834\uDD1E\" \\ \/ \b \f \n \r \t АБВГДЕЁЖЗабвгдеёжзABCDEFGabcdefg": "bar2",
  "": "",
  "optional": "field" // {optional: true}
}

#---------- /request/root-mixed ----------------------
DELETE /request/root-mixed/two-scalars
  Request
    Body @request_root_mixed_two_scalars
  200
    "OK"

TYPE @request_root_mixed_two_scalars
  123 // {or: ["integer", "string"]}

DELETE /request/root-mixed/object-or-array
  Request
    Body @request_root_mixed_object_or_array
  200
    "OK"

TYPE @request_root_mixed_object_or_array
  @object | @array

#---------- /request/root-user-type ----------------------
PUT /request/root-user-type/scalar
  Request
    Body @request_root_user_type_scalar
  200
    "OK"

TYPE @request_root_user_type_scalar
  @decimal

PUT /request/root-user-type/object
  Request
    Body @request_root_user_type_object
  200
    "OK"

TYPE @request_root_user_type_object
  @object