JSIGHT 0.3

POST /response/schema-notation/any
  200
    Body any

PUT /response/schema-notation/empty
  200
    Body empty

PATCH /response/schema-notation/regex
  200
    Body regex
      /^[A-Z]+\s\d+$/
