JSIGHT 0.3

INCLUDE types.jstl 

#---------- /response/user-type/root-scalar ----------------------
POST /response/user-type/root-scalar/no-rules
  200
    Body @response_root_scalar_no_rules 
  
TYPE @response_root_scalar_no_rules 
  "root-string"

POST /response/user-type/root-scalar/with-rules
  200
    Body @response_root_scalar_with_rules
  
TYPE @response_root_scalar_with_rules
  "AAA123" // {minLength: 4, maxLength: 15, regex: "^[A-Z]+\\d+$", nullable: true}

#---------- /response/user-type/root-array ----------------------
PUT /response/user-type/root-array/no-rules
  200
    Body @response_root_array_no_rules
  
TYPE @response_root_array_no_rules
[
  "string"
]

PUT /response/user-type/root-array/with-rules
  200
    Body @response_root_array_with_rules
  
TYPE @response_root_array_with_rules
[ // {minItems: 1, maxItems: 5, nullable: true}
  "string"
]

#---------- /response/user-type/root-object ----------------------
PATCH /response/user-type/root-object/no-rules
  200
    Body @response_root_object_no_rules
  
TYPE @response_root_object_no_rules
{
  "string": "some-string"
}

PATCH /response/user-type/root-object/with-rules
  200
    Body @response_root_object_with_rules
  
TYPE @response_root_object_with_rules
{ // {additionalProperties: "@array", allOf: "@object", nullable: true}
  "\u005C \uD834\uDD1E\" \\ \/ \b \f \n \r \t АБВГДЕЁЖЗабвгдеёжзABCDEFGabcdefg": "bar2",
  "": "",
  "optional": "field" // {optional: true}
}

#---------- /response/user-type/root-mixed ----------------------
PATCH /response/user-type/root-mixed/two-scalars
  200
    Body @response_root_mixed_two_scalars
  
TYPE @response_root_mixed_two_scalars
  123 // {or: ["integer", "string"]}

PATCH /response/user-type/root-mixed/object-or-array
  200
    Body @response_root_mixed_object_or_array
  
TYPE @response_root_mixed_object_or_array
  @object | @array

#---------- /response/user-type/root-user-type ----------------------
PUT /response/user-type/root-user-type/scalar
  200
    Body @response_root_user_type_scalar
  
TYPE @response_root_user_type_scalar
  @decimal

PUT /response/user-type/root-user-type/object
  200
    Body @response_root_user_type_object
  
TYPE @response_root_user_type_object
  @object