JSIGHT 0.3

GET /get
  OperationId get

POST /post
  OperationId "post"

PUT /put
  OperationId "put"

PATCH /patch
  OperationId "patch"

DELETE /delete
  OperationId "delete"

# -------------------

GET /v2/get
  OperationId "get version 2"

GET /v3/get
  OperationId "Get" # case-sensitive OperationId

