JSIGHT 0.3

INFO
  # Description with different directives at the beginning of new lines
  Description
    (
      BaseUrl
      Body
      Description
      Headers
      GET
      POST
      PUT
      PATCH
      DELETE
      INCLUDE
      INFO
      JSIGHT
      MACRO
      PASTE
      Path
      Query
      Request
      200
      400
      500
      SERVER
      Title
      TYPE
      URL
      Version
      (
      ()
      \)
      \n)
      \r\n)
    )

GET /url
  # Description with different directives at the beginning of new lines
  Description
    (
      BaseUrl
      Body
      Description
      Headers
      GET
      POST
      PUT
      PATCH
      DELETE
      INCLUDE
      INFO
      JSIGHT
      MACRO
      PASTE
      Path
      Query
      Request
      200
      400
      500
      SERVER
      Title
      TYPE
      URL
      Version
      (
      ()
      \)
      \n)
      \r\n)
    )

  200 any