JSIGHT 0.3

INFO
  Description
    description
    "Description"
    'Description'
    \"Description\"
    Descriptio n
    D escription
    \u0020Description
    \u0044escription

GET /url1
  Description
    description
  200 any

GET /url2
  Description
    "description"
  200 any

GET /url3
  Description
    \"description\"
  200 any