JSIGHT 0.3

URL /some
  
  POST
    Request
      {
        "k1": "v1"
      }

    Headers
      {
        "h-mandatory": 1, // necessary header
        "h-optional": 2 // {"optional": true} - unnecessary header
      }


