JSIGHT 0.3

GET /camelcase
  OperationId getUsers

GET /whitespaces
  OperationId "any string with spaces"

GET /unicode
  OperationId "Hello, 世界"

GET /unicode_without_quotes
  OperationId 世界

GET /without_operation_id
