JSIGHT 0.3

POST /necessity/{parameter}
  Path
  {
    "parameter": true /* {optional: true} - The rule `optional: true` must be ignored 
                                            for path parameters. */
  }
