JSIGHT 0.3

URL /parameter/{id}
  POST
    302
      "yet another response"
      
GET /parameter/{id}
  
  Path
  {
    "id": 1
  }

PUT /parameter/{id}/second/{name}/third/{age}

  Path
  {
    "name": "name"
  }

