JSIGHT 0.3

GET /request/jschema/rules/minmaxlength
  200
    "Any string" // { minLength: 3 }
  201
    "" // { minLength: 0 }
  202
    "" // { maxLength: 0 }
  203
    "Any string" // { maxLength: 9223372036854775807 }
  204
    "Any string" // { minLength: 3, maxLength: 10 }
  205
    "" // { minLength: 0, maxLength: 10  }
  206
    "Any string" // { minLength: 10, maxLength: 9223372036854775807 }