JSIGHT 0.3

TYPE @passportNumber // Passport ID.
  "1234 567890" // { regex: "^\\d{4} \\d{6}$" }

TYPE @cat // A cat.
{
  "name": "Tom"
}

GET /request/jschema/rules/type/nullable
  200
    true // {nullable: true}
  201
    "2024-02-19" // {type: "date", nullable: true}
  202
    "2024-02-19T09:14:28+03:00" // {type: "datetime", nullable: true}
  203
    1.12 // {type: "decimal", precision: 2, nullable: true}
  204
    "test@example.com" // {type: "email", nullable: true}
  205
    "white" // {nullable: true, enum: ["white", "blue", "red"]}
  206
    -2.1 // { nullable: true, enum: [-3, -2.1, 1.2, true, false, "-3", "0", "1.2", "string", "true"]}
  207
    null // { nullable: true, enum: ["white", "blue", "red", null]}
  208
    null // { nullable: true, enum: ["white", "blue", "red"]}
  209
    12.34 // { type: "float", nullable: true }
  210
    1 // { type: "integer", nullable: true }
  211
    null // { type: "null", nullable: true }
  212
    "foo" // { type: "string", nullable: true }
  213
    "https://www.com" // { type: "uri", nullable: true }
  214
    "53496d7f-1374-4368-a829-74ccd47aec1c" // { type: "uuid", nullable: true }
  215
    {
      "sBoolean": true, // {nullable: true}
      "sDate": "2024-02-19", // {type: "date", nullable: true}
      "sDatetime": "2024-02-19T09:14:28+03:00", // {type: "datetime", nullable: true}
      "sDecimal": 1.12, // {type: "decimal", precision: 2, nullable: true}
      "sEmail": "test@example.com", // {type: "email", nullable: true}
      "sEnum1": "white", // {nullable: true, enum: ["white", "blue", "red"]}
      "sEnum2": -2.1, // { nullable: true, enum: [-3, -2.1, 1.2, true, false, "-3", "0", "1.2", "string", "true"]}
      "sEnum3": null, // { nullable: true, enum: ["white", "blue", "red", null]}
      "sEnum4": null, // { nullable: true, enum: ["white", "blue", "red"]}
      "sFloat": 12.34, // { type: "float", nullable: true }
      "sInteger": 1, // { type: "integer", nullable: true }
      "sNull": null, // { type: "null", nullable: true }
      "sString": "foo", // { type: "string", nullable: true }
      "sUri": "https://www.com", // { type: "uri", nullable: true }
      "sUuid": "53496d7f-1374-4368-a829-74ccd47aec1c" // { type: "uuid", nullable: true }
    }
  216
    [
      true, // {nullable: true}
      "2024-02-19", // {type: "date", nullable: true}
      "2024-02-19T09:14:28+03:00", // {type: "datetime", nullable: true}
      1.12, // {type: "decimal", precision: 2, nullable: true}
      "test@example.com", // {type: "email", nullable: true}
      "white", // {nullable: true, enum: ["white", "blue", "red"]}
      -2.1, // { nullable: true, enum: [-3, -2.1, 1.2, true, false, "-3", "0", "1.2", "string", "true"]}
      null, // { nullable: true, enum: ["white", "blue", "red", null]}
      null, // { nullable: true, enum: ["white", "blue", "red"]}
      12.34, // { type: "float", nullable: true }
      1, // { type: "integer", nullable: true }
      null, // { type: "null", nullable: true }
      "foo", // { type: "string", nullable: true }
      "https://www.com", // { type: "uri", nullable: true }
      "53496d7f-1374-4368-a829-74ccd47aec1c" // { type: "uuid", nullable: true }
    ]
  217
    false // {type: "any", nullable: true}
  218
    [ // {minItems: 1, nullable: true} - some text
       "sample"
    ]
  219
    [ // {type: "array", nullable: true}
    ]
  220
    [ // {type: "array", nullable: true, minItems: 0}
    ]
  221
    {} // {nullable: true} - some text
  222
    "cat@mail.com" // {or: ["uuid", "email"], nullable: true} - some text
  223
    "1111 222222" // {type: "@passportNumber", nullable: true} - some text
  224
    "1111 222222" // {type: "@passportNumber", nullable: false}
  225
    @cat // {nullable: true} - Some text
  226
    [
      @cat // {nullable: true} - Some text
    ]
  227
    {
      "key": @cat // {optional: true, nullable: true}
    }