JSIGHT 0.3

GET /request/jschema/rules/nullable/boolean
  200
    true // {nullable: true}
  201
    {
      "sBoolean": true // {nullable: true}
    }
  202
    [
      true // {nullable: true}
    ]
  203
    false // {type: "any", nullable: true}
