JSIGHT 0.3

# Text notes to RULES (after the {rules} )

GET /req/jschema/rules/notes/after/rules
  200 
    {
      "1": 1, // {} - Simple annotation note
      "2": 2, // {} - Complex annotation note with different symbols... tabs:		ascii: !\"$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\\]^_`abcdefghijklmnopqrstuvwxyz{|}~ spec:¹²³$‰↑∞←→—≠€®™ѣѵіѳ′[]≈§°£₽„“”‘’×©↓−«»…´“„•ẞˇ¢·¸¨‘⌀⌘˘˚ѢѴІѲ″{}±–〉〈¿ˆ¼⅓½¡ Cyrillic: йцукенгшщзФЫВАПРОЛДЖЭ Chinese: 你好世界
      "3": 3,  // {} - description
      "4": 4,  // {} - description
      "5": 5, //{}-//
      "6": 6,  //{}-d
      "7": 7, //  {} -                    d
      "8": 8, //  {} -\u0020
      "9": 9, //  {} -0x20
      "10": 10, //  {} -U+0020
      "11": 11,  // {} -   { "11" : 11 } 
      "12": 12, // {} -     { "12" : 12 }"
      "13": 13, //{}-{}-{}-{{{{}}}
      "14": 14 //{}-------------
    }

  201
    {
      "1": 1, // {min: 1} -------------
      "2": 2 // {min: 1} - {min: 2} - {min: 3} - {min: 4}
    }

  202
    { 
       "1": 1, /* {min: 1} - Line 1
          Line 2
       Line 3
      */
        "2": 2, /*    {min: 1}    -    Single line   */     
        "3": 3 /*    
                      {min: 1}    
                -      
                Line 1
              Line 2
            Line 3    */     
    }

  203
    {
      "1": 1, //  {} -     
      "2": 2, //  {} -              
      "3": 3, //  {} -
      "4": 4, //  {   }            -
      "5": 5, //        {      }-
      "6": 6,  //  {}     
      "7": 7,  //  {min: 1}    
      "8": 8  //  {min: 1}   -      
    }
