JSIGHT 0.3

TYPE @ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789___1_-_-_1 // Short description. TODO: Fix bug with long description, task SERV-374
  {}

TYPE @_
  {}

TYPE @-
  {}

TYPE @empty
  {}

TYPE "@schema"
  {}

TYPE @typeWithDescription  //  description
  {}

TYPE @typeWithEmptyDescription  //  
  {}

TYPE @typeWithMultilineDescription  /* Line 1
                                       Line 2
                                       Line 3
                                    */
  {}

TYPE @typeWithMultilineEmptyDescription  /* 


                                    */
  {}
