JSIGHT 0.3

TYPE @userTypeReferenceToTypeInPropertyKey
  {
    @userTypeString: @userTypeObject
  }

# Basic user types

TYPE @userTypeObject
  {
    "one": 1
  }

TYPE @userTypeString
  "userType_string_value"
