JSIGHT 0.3

TYPE @ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789___1_-_-_1 // Long description with different symbols... tabs:			ascii: !\"$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\\]^_`abcdefghijklmnopqrstuvwxyz{|}~ spec:¹²³$‰↑∞←→—≠€®™ѣѵіѳ′[]≈§°£₽„“”‘’×©↓−«»…´“„•ẞˇ¢·¸¨‘⌀⌘˘˚ѢѴІѲ″{}±–〉〈¿ˆ¼⅓½¡ Cyrillic: йцукенгшщзФЫВАПРОЛДЖЭ Chinese: 你好世界！
  {}

TYPE @_
  {}

TYPE @-
  {}

TYPE @empty
  {}

TYPE "@schema"
  {}

TYPE @typeWithDescription  //  description
  {}

TYPE @typeWithEmptyDescription  //  
  {}

TYPE @typeWithMultilineDescription  /* Line 1
                                       Line 2
                                       Line 3
                                    */
  {}

TYPE @typeWithMultilineEmptyDescription  /* 


                                    */
  {}
