JSIGHT 0.3

GET /
  200 // Annotation 200 - boolean
    false
  200 // Annotation 200 - integer
    0
  301 // Body only
    Body
      "Body"
  302 // Body and Headers
    Headers
    {
      "X-Header": "header-value"
    }
    Body
    {
      "foo": "bar"
    }
  
