JSIGHT 0.3


GET /request-required-1
  Request
    {}

GET /request-required-2
  Request
    123


GET /request-required-3
  Request
    "string"


GET /request-required-4
  Request
    @someType

TYPE @someType
{}


GET /request-not-required-2
  Request any

###
GET /request-not-required-1
  Request
    Headers 
      {}

#GET /request-not-required-3
#  Request @typeAny


# TYPE @typeAny any

###
