JSIGHT 0.3

URL /some
  
  GET
    Request
      {
        "k1": "v1"
      }

    Query
      {
        "q-mandatory": 1, // necessary query
        "q-not-mandaroty": 2 // {"optional": true} - unnecessary query
      }


