JSIGHT 0.3
 
### 
Queries with scalar/primitive values OR arrays (as a root BODY object) will not be considered as supported in OpenAPI,
and will produce no parameters in OpenAPI specification.
### 
 
GET /query/prim-value-string
  Query "value"
    "primitive string value"
