JSIGHT 0.3

GET /request/jschema/rules/type/precision
  200
    0.12 // { precision: 2 }
  201
    0.9 // { precision: 1 }
  202
    0.12 // { type: "decimal", precision: 2 }
  203
    0.9 // { type: "decimal", precision: 1 }
  204
    0.901 // { type: "decimal", precision: 3 }
  205
    0.900 // { type: "decimal", precision: 1 }
  206
    {
      "p1": 0.12, // { precision: 2 }
      "p2": 0.901 // { type: "decimal", precision: 3 }
    }
  207
    [
      0.9, // { type: "decimal", precision: 1 }
      0.12, // { type: "decimal", precision: 2 }
      0.900 // { type: "decimal", precision: 1 }
    ]