JSIGHT 0.3

GET /
  200
    1
  201
    1.1
  202
    {
      "positiveInteger": 123,
      "positiveFloat": 12.2,
      "negativeInteger": -23,
      "negativeFloat": -987654321.12
#      "expPositiveInteger": 1.1e1,
#      "expPlusPositiveInteger": 1.12e+2,
#      "expMinusPositiveInteger": 900e-2,
#      "expLargePositiveInteger": 23.2E1,
#      "expLargePlusPositiveInteger": 0.12E+2,
#      "expLargeMinusPositiveInteger": 700E-1,
#      "expNegativeInteger": -3.1e1,
#      "expPlusNegativeInteger": -71.12e+3,
#      "expMinusNegativeInteger": -500e-2,
#      "expLargeNegativeInteger": -23.2E1,
#      "expLargePlusNegativeInteger": -0.12E+2,
#      "expLargeMinusNegativeInteger": -700E-1,
#      "expPositiveFloat": 1.12e1,
#      "expPlusPositiveFloat": 1.123e+2,
#      "expMinusPositiveFloat": 900e-3,
#      "expLargePositiveFloat": 23.21E1,
#      "expLargePlusPositiveFloat": 0.12E+1,
#      "expLargeMinusPositiveFloat": 7700E-3,
#      "expNegativeFloat": -3.12e1,
#      "expPlusNegativeFloat": -71.12433e+3,
#      "expMinusNegativeFloat": -500e-11,
#      "expLargeNegativeFloat": -23.21E1,
#      "expLargePlusNegativeFloat": -0.123E+2,
#      "expLargeMinusNegativeFloat": -700E-200,      
    }
  203
    [-500]
