JSIGHT 0.3

GET /request/jschema/rules/type/nullable/null
  200
    null // { type: "null", nullable: true }
  201
    {
      "sNull": null // { type: "null", nullable: true }
    }
  202
    [
      null // { type: "null", nullable: true }
    ]
