JSIGHT 0.3

GET /request/jschema/rules/nullable/null
  200
    null // { type: "null", nullable: false }
  201
    {
      "sNull": null // { type: "null", nullable: false }
    }
  202
    [
      null // { type: "null", nullable: false }
    ]
