JSIGHT 0.3

GET /request/jschema/rules/type/const
  200
    "OK" // { const: true }
  201
    "OK" // { const: false }
  202
    true // { const: true }
  203
    "2024-02-15" // { type: "date", const: true }
  204
    123 // { const: true }
  205
    123.12 // { const: true }
  206
    0.12 // { type: "decimal", precision: 2, const: true }
  207
    null // { const: true }
  208
    -3 // { type: "enum", enum: [-3], const: true }
  209
    null // { type: "enum", enum: [null], const: true }
  210
    {
      "c1": "OK", // { const: true }
      "c2": "OK", // { const: false }
      "c3": true, // { const: true }
      "c4": "2024-02-15", // { type: "date", const: true }
      "c5": 123, // { const: true }
      "c6": 123.12, // { const: true }
      "c7": 0.12, // { type: "decimal", precision: 2, const: true }
      "c8": null, // { const: true }
      "c9": -3, // { type: "enum", enum: [-3], const: true }
      "c10": null // { type: "enum", enum: [null], const: true }
    }
  211
    [
      "OK", // { const: true }
      "OK", // { const: false }
      true, // { const: true }
      "2024-02-15", // { type: "date", const: true }
      123, // { const: true }
      123.12, // { const: true }
      0.12, // { type: "decimal", precision: 2, const: true }
      null, // { const: true }
      -3, // { type: "enum", enum: [-3], const: true }
      null // { type: "enum", enum: [null], const: true }
    ]
