JSIGHT 0.3

GET /request/jschema/rules/minItems
  200
    [ // {minItems: 1}
        "str"
    ]
  201
    [ // { minItems: 2 }
        "str", 1
    ]
  202
    [ // { type: "array", minItems: 3 }
        1,
    	2.3,
    	"abc"
    ]
  203
    [ // {minItems: 1}
        1, 2
    ]
  204
    [ // { type: "array", nullable: true, minItems: 0 }
    ]
